@import "../_imports.scss";

.main-bgnd {
  background-color: $flat-green;
}

.slogan {
	color: #11b0c8 !important;
	text-shadow: 1px 1px black;
}

.logo {
	stroke: black;
	width: 65%;
	height: auto;
}

.hero-green {
  background-color: #448A32;
}