//Fonts
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

$family-sans-serif: 'Patrick Hand SC', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// 2. Setup your Custom Colors
$flat-green: lighten(#92C751,15);

$purple: hsl(275,87%,45%);
$purple-invert: findColorInvert($purple);

$primary: #6FC41C;
$primary-invert: findColorInvert($primary);

$scheme-main: #F6F9F3;
$scheme-main-bis: darken($scheme-main,2);
$scheme-main-ter: darken($scheme-main-bis,2);

// 3. Add new color variables to the color map.
@import "bulma/sass/utilities/derived-variables.sass";

$addColors: (
  "purple":($purple, $purple-invert),
);
$colors: map-merge($colors, $addColors);

// 4. Go crazy

@import 'bulma/bulma';
@import "bulma/sass/utilities/mixins";
